  <div class="anime-grid">
    <% if (locals.results && locals.results.length > 0) { %>
      <%- console.log(locals.results.data); %> 
      <% locals.results.forEach(anime => { %>
          <div class="anime-card">
          <a href="/anime/<%= anime.mal_id %>">
          <img
            src="<%= anime.images.jpg.image_url %>"
            alt="<%= anime.title %>"
            class="anime-img"
          />
          </a>
          <div class="anime-info">
            <h3>
              <a href="/anime/<%= anime.mal_id %>" ><%= anime.title %></a>
            </h3>
            <p>
              <strong>Type:</strong> <span id="sq"><%= anime.type %></span> |
              <strong>Episodes:</strong> <span id="sq"><%= anime.episodes || "?" %></span> 
            </p>
            <p><strong>Score:</strong> <span id="round"><%= anime.score.toFixed(1) || "N/A" %></span></p>
            <p class="synopsis">
              <%= anime.synopsis ? anime.synopsis.substring(0,120) + "..." : "No synopsis available." %>
            </p>
          </div>
        </div>         
    <% })} else { %>
      <h3>No results found.</h3>
    <% } %>
  </div>